body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}

li {
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
