#medal-transition {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

#medal-transition .store-selector {
    margin-bottom: 20px;
}

#medal-transition select {
    padding: 10px;
    font-size: 1em;
    width: 200px;
    margin-bottom: 20px;
}



/* ボタン ホバー時 */
#medal-transition button:hover {
    background-color: #0056b3; /* 濃い青色 */
}

/* ボタン 無効状態 */
#medal-transition button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* チャートのスタイル */
#medal-transition canvas {
    max-width: 100%;
    height: auto;
}
