/* メニュー全体 */
#menu-container #menu {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: -100%;
    width: 33.33%;
    height: 100%;
    background-color: #333;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: left 0.3s ease;
    padding: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

/* メニュー内リンクの文字を左寄せ */
#menu-container #menu ul {
    padding: 10px;
    margin: 0;
    list-style: none;
}

#menu-container #menu ul li {
    margin: 10px 0;
    text-align: left; /* 左寄せ */
}

#menu-container #menu ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 1px 0;
    padding-left: 10px;
    font-size: 16px;
}

#menu-container #menu ul li a:hover {
    text-decoration: underline;
}

#menu-container #menu #close-menu {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    align-self: flex-end;
    cursor: pointer;
}

/* メニューボタン */
#menu-container #menu-button {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    width: auto;
    max-width: 200px;
    box-sizing: content-box;
}

#menu-container #menu-button:hover {
    background-color: #0056b3;
}

#menu-container #menu.open {
    left: 0;
}
